{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Statistics and Analytics</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- Plotly chart will be drawn inside this DIV -->
  <div id="myDiv"></div>
  <script>
    /* JAVASCRIPT CODE GOES HERE */
    Plotly.d3.csv("../../static/data/convertcsv.csv", function(err, rows){

      function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
      }

      var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'Soyabean (Black)',
        x: unpack(rows, 'Years'),
        y: unpack(rows, 'Soyabean (Black)'),
        line: {color: '#17BECF'}
      }

      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'Soyabean (Yellow)',
        x: unpack(rows, 'Years'),
        y: unpack(rows, 'Soyabean (Yellow)'),
        line: {color: '#7F7F7F'}
      }

      var data = [trace1,trace2];

      var layout = {
        title: 'Rate Comparison of different crops',
      };

      Plotly.newPlot('myDiv', data, layout);
    })
  </script>
</body>
</html>