{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Statistics and Analytics</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- Plotly chart will be drawn inside this DIV -->
  <div id="myDiv"></div>
  <script>
    /* JAVASCRIPT CODE GOES HERE */
    Plotly.d3.csv("../../static/data/convertcsv.csv", function(err, rows){

      function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
      }

      var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'Ragi',
        x: unpack(rows, 'Years'),
        y: unpack(rows, 'Ragi'),
        line: {color: '#17BECF'}
      }

      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'Jowar (Hybrid)',
        x: unpack(rows, 'Years'),
        y: unpack(rows, 'Jowar1'),
        line: {color: '#7F7F7F'}
      }

      var trace3 = {
        type: "scatter",
        mode: "lines",
        name: 'Wheat',
        x: unpack(rows, 'Years'),
        y: unpack(rows, 'Wheat'),
        line: {color: '#33FF4C'}
      }

      var trace4 = {
        type: "scatter",
        mode: "lines",
        name: 'Maize',
        x: unpack(rows, 'Years'),
        y: unpack(rows, 'Maize'),
        line: {color: '#FF5533'}
      }

      var data = [trace1,trace2,trace3,trace4];

      var layout = {
        title: 'Rate Comparison of different crops',
      };

      Plotly.newPlot('myDiv', data, layout);
    })
  </script>
</body>
</html>