{% load static %}
<html>
<head>
  <title>Maps</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet" />
    <link href="{% static 'css/slider.css'  %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'css/demo.css'%}" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/pe-icon-7-stroke.css'%}" rel="stylesheet" />

    <style>
        .modal {
            text-align: center;
        }

        @media screen and (min-width: 768px) { 
          .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
          }
        }

        .modal-dialog {
          display: inline-block;
          text-align: left;
          vertical-align: middle;
        }

        #legend {
          font-family: Arial, sans-serif;
          background: #fff;
          padding: 10px;
          margin: 10px;
          border: 3px solid #000;
        }

        #legend h3 {
          margin-top: 0;
        }

        #legend img {
          vertical-align: middle;
        }

        .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 80%;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }

    </style>
</head>

<body>

<!-- Modal div -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Farm Details</h4>
      </div>
      <div class="modal-body" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8" id="piechart"></div>
            <div class="col-md-4" id="farmdetails"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Map div -->
<div  class="content" style="z-index:-1">
  <div class="container-fluid">
    <center>
      <div class="card">
        <div id="map" style="width:100%;height:600px;" class="col-sm-12"></div>
        <div class="footer">
          <div class="legend"></div>
          <div id="slidecontainer" >
            <input type="range" min="2005" max="2017" style="width:100%" value="2017" class="slider" id="Range">
            <p>Year: <span id="value"></span></p>
          </div>
          <select id="season" style="height:30px;width:120px">
            <option selected value="1">Summer</option>
            <option value="2">Monsoon</option>
            <option value="3">Winter</option>
          </select>                     
        </div>
      </div>
    </center>
    <div id="legend"><h3>Legend</h3></div>
  </div>
</div>


</body>

<script src="{% static 'js/jquery.min.js' %}"></script>  
<script>
    var mapslider = document.getElementById("Range");
    var mapoutput = document.getElementById("value");
    mapoutput.innerHTML = mapslider.value;

    mapslider.oninput = function() {
        mapoutput.innerHTML = this.value;
    }
</script>
<script type="text/javascript">
  $( document ).ready(function(){
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(hi);
});

function drawChart(data) {
  var data = google.visualization.arrayToDataTable(data);
  var options = {
    width: 400,
      height: 240,  
      title: 'area percentage of crops',
      is3D: true,
  };

  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  google.visualization.events.addListener(chart, 'click', function () {
    chart.clearChart()
  });
  
  google.visualization.events.addListener(chart, 'ready', function () {});
  chart.draw(data, options);
}

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setMap());
  } 
  else {
    alert("Geolocation is not supported by this browser.");
  }
}

function makeTableHTML(myArray,array) {
  var result = "<table class='table'>";
  result += "<thead><tr><th>Crop</th><th>Yield</th></tr></thead><tbody>";

  for(var i=0; i<myArray.length; i++) {
    result += "<tr>";
    result += "<td>"+myArray[i]+"</td>";
    result += "<td>"+array[i]+"</td>";
    result += "</tr>";
  }
  result += "</tbody></table>";
  return result;
}

function hello(farm,households){
  $.getJSON( "../../static/json/member.json", function( data ) {
    for(row in data){
      if(data[row].HID==households && data[row].relation=="Head"){
        var owner=data[row].name
      } 
    }

    $.getJSON( "../../static/json/crop.json", function( data ) {
      var crop=[]
      var yield=[]
      for(row in data){
        if(data[row].FID==farm.FID && data[row].season==document.getElementById("season").value &&data[row].year==document.getElementById("value").innerHTML){
          crop.push(data[row].Crop)
          yield.push(data[row].Yield)         
        }
      }
      document.getElementById('farmdetails').innerHTML="<p><b>owner</b> : "+owner+"</p><br><p><b>Totalarea </b>: "+farm.area+" hectors</p><br>"+makeTableHTML(crop,yield)
    });
  });
}

function hi(farm){
  if(farm){ 
    $('#myModal').modal();
    $.getJSON( "../../static/json/crop.json", function( data ) {
      var piedata=[["crop","extent"]]
      for (row in data){
        var temp=[]
        if(data[row].FID==farm &&data[row].season==document.getElementById("season").value &&data[row].year==document. getElementById("value").innerHTML ){
          temp.push(data[row].Crop)
          temp.push(data[row].Extent)
          piedata.push(temp)
        }  
      }
      drawChart(piedata)
    });
  }
}

function setMap(position) {
  var myCenter = new google.maps.LatLng(13.541469,79.048655);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 8, mapTypeId: 'terrain'};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var srcImage = 'https://developers.google.com/maps/documentation/' +
    'javascript/examples/full/images/talkeetna.png';

  // The custom USGSOverlay object contains the USGS image,
  // the bounds of the image, and a reference to the map.

  var infowindow = new google.maps.InfoWindow();
  $.getJSON( "../../static/json/household.json", function( data ) {
    var marker
    
      for (row in data){
        if (data[row].monthly_income<30000){
          var house_icon = {
            url:"../../static/img/house1.png", 
            scaledSize: new google.maps.Size(5*data[row].number_of_member, 5*data[row].number_of_member), 
            origin: new google.maps.Point(0,0), 
            anchor: new google.maps.Point(0, 0)
          };
        }
        if (data[row].monthly_income>=30000){
          var house_icon = {
            url:"../../static/img/house2.png", 
            scaledSize: new google.maps.Size(5*data[row].number_of_member, 5*data[row].number_of_member), 
            origin: new google.maps.Point(0,0), 
            anchor: new google.maps.Point(0, 0)
          };
        }
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(data[row].location.coordinates[1], data[row].location.coordinates[0]),
          icon:house_icon,
        });
        google.maps.event.addListener(marker, 'mouseover', (function(marker, row) {
          return function() {
            infowindow.setContent("<b>Owner : </b>"+data[row].owner_name + "<br> <br>" + "<b>members : </b>"+data[row].number_of_member+ "<br><br>"+"<b>income :</b> "+data[row].monthly_income+ "<br><br>" +'<img src="https://itsproject-server.herokuapp.com'+data[row].image+'">');
            infowindow.open(map, marker);
          }
        }
        )(marker, row));
        marker.setMap(map);
      }
  });

  $.getJSON( "../../static/json/well.json", function( data ) {
    var marker
    var well_icon = {
      url:"../../static/img/dug_well.png", // url
      scaledSize: new google.maps.Size(30, 30), // scaled size
      origin: new google.maps.Point(0,0), // origin
      anchor: new google.maps.Point(0, 0) // anchor
    };
      for (row in data){
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(data[row].location.coordinates[1], data[row].location.coordinates[0]),
              map: map,
              icon:well_icon,
            });
            google.maps.event.addListener(marker, 'mouseover', (function(marker,row) {
              return function() {
              infowindow.setContent("<b>Depth : </b>"+data[row].depth+"<br> <br>"+" <b>Yield :</b> "+ data[row].average_yield+ "<br><br>" +'<img src="https://itsproject-server.herokuapp.com'+data[row].image+'">');
              infowindow.open(map, marker);
              }
            }
            )(marker, row));
            marker.setMap(map);
          }
  });

  $.getJSON( "../../static/json/storage.json", function( data ) {
    var marker
    var storage_icon = {
      url:"../../static/img/godown.png", // url
      scaledSize: new google.maps.Size(30, 30), // scaled size
      origin: new google.maps.Point(0,0), // origin
      anchor: new google.maps.Point(0, 0) // anchor
    };
      for (row in data){
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(data[row].location.coordinates[1], data[row].location.coordinates[0]),
              map: map,
              icon:storage_icon,
            });
            google.maps.event.addListener(marker, 'mouseover', (function(marker,row) {
              return function() {
              infowindow.setContent("<b>Owner : </b>"+data[row].owner_name+"<br> <br>"+"<b>Capacity : </b>"+data[row].capacity+"Kg"+"<br> <br>"+'<img src="https://itsproject-server.herokuapp.com'+data[row].image+'">');
              infowindow.open(map, marker);
              }
            }
            )(marker, row));
            marker.setMap(map);
          }
  });

  $.getJSON( "../../static/json/farm.json", function( data ) {
    for (row in data){ 
      var path=[]
      for (rows in data[row].plot.coordinates[0]){
        path.push(new google.maps.LatLng(data[row].plot.coordinates[0][rows][1],data[row].plot.coordinates[0][rows][0]))
      }

      var flightPath = new google.maps.Polygon({
        path: path,
        strokeColor: "green",
        strokeOpacity: 1,
        strokeWeight: 2,
        fillColor: "green",
        fillOpacity: 0.4,
      });   

      flightPath.setMap(map);
      google.maps.event.addListener(flightPath, 'click', (function(marker,row) {
        return function() {
          hi(data[row].FID)
          hello(data[row],data[row].HID)
        }
      })(flightPath, row));

    }
  });
  var iconBase = '../../static/img/';
        var icons = {
          House1: {
            name: 'Household(<30k)',
            icon: iconBase + 'house11.png'
          },
          House2: {
            name: 'Household(>=30k)',
            icon: iconBase + 'house21.png'
          },
          Well: {
            name: 'Well',
            icon: iconBase + 'dug_well1.png'
          },
          Storage: {
            name: 'Cold Storage',
            icon: iconBase + 'godown1.png'
          }
        };
  var legend = document.getElementById('legend');
        for (var key in icons) {
          var type = icons[key];
          var name = type.name;
          var icon = type.icon;
          var div = document.createElement('div');
          div.innerHTML = '<img src="' + icon + '"> ' + name;
          legend.appendChild(div);
        }

        map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(legend);
}
</script> 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp8LvJ0F70f6K57rvaxrSBFBpff7hWIAI&callback=setMap"></script>
    <!--   Core JS Files   -->
    <script src="{% static 'js/jquery-1.10.2.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js'%}" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'js/bootstrap-checkbox-radio-switch.js'%}"></script>

    <!--  Charts Plugin -->
    <script src="{% static 'js/chartist.min.js'%}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'js/bootstrap-notify.js'%}"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static 'js/light-bootstrap-dashboard.js'%}"></script>
</html>